/* ===== ITEMS CONTAINERS ===== */
.repeater-item {
    padding: 16px 24px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.repeater-item:nth-child(even) {
    background: #f9f9f9;
}

.repeater-item h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 12px 0;
}

/* ===== FORM FIELDS ===== */
.portfolio-field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.portfolio-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.portfolio-field input,
.portfolio-field textarea,
.portfolio-field select {
    width: 100%;
    padding: 4px 8px;
}

.portfolio-field textarea {
    min-height: 120px;
    height: fit-content;
}

.portfolio-field .checkbox {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.portfolio-field .checkbox input[type="checkbox"] {
    width: auto;
}

/* ===== GRID LAYOUT ===== */
.portfolio-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.about-settings-page .portfolio-row {
    grid-template-columns: repeat(6, 1fr);
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

/* ===== BUTTONS ===== */
.add-repeater-btn {
    margin-top: 24px;
}

button {
    width: max-content;
}

.btn-remove-cta,
.button.btn-remove {
    border-color: rgb(197, 44, 44) !important;
    color: rgb(197, 44, 44) !important;
}

.btn-remove-cta:hover,
.button.btn-remove:hover {
    border-color: rgb(177, 33, 33) !important;
    color: rgb(177, 33, 33) !important;
    background-color: rgba(212, 30, 30, 0.274) !important;
}

/* ===== UTILITIES ===== */
.image-preview-wrapper,
.btn-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-container:has(.btn-remove) {
    justify-content: flex-end;
}

.image-preview {
    max-width: 150px;
}

.section {
    margin-bottom: 60px;
}

.section h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}